[Desktop Entry]
Type=XSession
Exec=env KDEWM=/usr/bin/fluxbox /usr/bin/startplasma-x11
DesktopNames=KDE
Name=Plasma Fluxbox
Comment=Plasma Fluxbox session
