[Desktop Entry]
Name=pentablet
Comment=XPPen driver
Exec=voidnsrun -r /glibc /usr/lib/pentablet/pentablet.sh
Icon=/usr/share/icons/pentablet.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true                                        
Categories=Application;Utility;
StartupNotify=true
